$colorLight1: #e8ddcb;
$colorLight2: #cdb380;

$colorDark1: #036564;
$colorDark2: #033649;
$colorDark3: #031634;

$highlight1: #f13f3f;
$highlight2: #f7ff7a;
$highlight3: #5cb95f;

$black: #222;
$white: #fff;
