<header class="header">
    <div class="header__logo">
        <span class="header__logo__text">Organizer</span>
        <span class="header__logo__number">3000</span>
    </div>
</header>

<main class="main">
    <div class="main__notes">
        <div class="note note--preview" tabindex="0">
            <div class="note__title">Note title example</div>
            <div class="note__content">
                <div class="note__task">task 1</div>
                <div class="note__task">task 2 with longer description</div>
                <div class="note__task">task 3 is this</div>
                <div class="note__task">Do we even need fourth task?</div>
            </div>
        </div>
        <div class="main__notes__add" tabindex="0">
            <div class="main__notes__add__plus">+</div>
            <div class="main__notes__add__label">Add todo list</div>
        </div>
    </div>

    <div class="main__edit-note">
        <div class="note note--full" tabindex="0">
            <button class="note__close">X</button>
            <div class="note__title">Note title example</div>
            <div class="note__content">
                <div class="note__task">task 1</div>
                <div class="note__task">task 2 with longer description</div>
                <div class="note__task">task 3 is this</div>
                <div class="note__task">Do we even need fourth task?</div>
            </div>
        </div>
    </div>
</main>
